#search-bar {
    border-radius: 45px;
    width: 460px;
    height: 45px;
    border-style: ridge;
}

div.search-stuff {
    margin: 0;
    position: absolute;
    top: 46%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.image-stuff {
    margin: 0;
    position: absolute;
    top: 32%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.homepage-buttons {
    border-radius: 5px;
    width: 128px;
    height: 35px;
    background-color: #F5F5F5;
    border-style: solid;
}

.homepage-buttons:hover {
    /* border-color: black; */
    border-style: ridge;
}

div.button-stuff {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 57%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.homepage-buttons:first-of-type {
    margin-right: 10px;
}

ul.homepage_links {
    margin: 10px;
    padding: 10px;
}


ul.footer_links {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px;
    background-color: #F5F5F5;
    border-style: ridge none none none;
}


li {
    display: inline;
}

li a {
    font-family: arial, monospace, serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

li.left-side-links {
    float: left;
    margin-right: 22px;
}

li.left-side-links:first-of-type {
    margin-left: 12px;
}

li.right-side-links {
    float: right;
    margin-right: 22px;
}

#about-link {
    padding-right: 10px;
    margin-left: 0;
}

#gmail-link {
    padding-right: 10px;
}

#images-link {
    margin-right: 0;
}
